[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
jupyter = "*"
lab = "*"
pymongo = "*"
dnspython = "*"
flask = "*"
jinja2 = "*"
flask-sqlalchemy = "*"
psycopg2-binary = "*"
gunicorn = "*"

[dev-packages]
twine = "*"

[requires]
python_version = "3.8"
